.counter{
    width: 100px;
    height: 100px;
    background: darkgray;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-radius: 25px;
    font-size: 30px;
}

.wrapperRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.wrapperCol {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.button {
    border: 0;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: darkgray;
}