* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body{
    background:linear-gradient(to right, deeppink, aqua );

}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.window {
    display: flex;
    align-items: center;
    width: 250px;
    height: 250px;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 4px 4px 10px rgba(0, 0, 0, 0.2);
    background: white;
}
